//background
$primary-background: #808080;
$secondary-background: #ffffff;
$input-background: #80808034;
$primary-btn-background: #3f51b5;
$secondary-btn-background: #ffa500;
$overlay-background: rgba(0, 0, 0, 0.8);
//border
$primary-border: #000000;
//accent
$primary-accent-background: #808080;
$primary-btn-accent-background: #303f9f;
$secondary--btn-accent-background: #f0e68c;
//text-color
$primary-text-color: #ffffff;
